@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  background-image: radial-gradient(circle, #b8cff24d 2px, transparent 1px);
  background-size: 20px 20px; 
}
